# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# PyCharm settings
.idea/

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Secrets and configs (customize this)
.env
*.sqlite3